{
    "presets": [
        ["@babel/preset-env", {
          "targets": { "browsers": ["last 2 versions", "safari >= 7"] },
          "corejs": "3",
          "modules": false,
          "debug": true,
          "useBuiltIns": "usage"
        }],
        "@babel/react",
        {
          "plugins" : ["@babel/plugin-proposal-class-properties"]
        }

    ]
}
