.comment-stars{
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.single-star{
    height: 100%;
    width: 30px;
    margin: 0px;
    border: 0px;
}
.focus-star, .single-star:hover,
.single-star:hover + .single-star,
.single-star:hover + .single-star + .single-star,
.single-star:hover + .single-star + .single-star + .single-star,
.single-star:hover + .single-star + .single-star + .single-star + .single-star{
    background-color: blue;
}

