.footer{
    border-width: 1px 0 0 0;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer a{
    color: #333333;
}
.footer a:visited{
    color: #333333;
}
.footer a:hover{
    color: #0645AD;
}

.footer-text{
    margin: auto;
    color: #333333;
}

.footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-content{
    padding: 0 0 0 10px;
}
.footer-content:first-child{
    padding: 0px;
}

