
.app-header, .profile-header{
    display: grid;
    grid-template-columns: 120px auto auto;
    grid-template-rows: 90px 30px;
    grid-column-gap: 20px;
    
    padding: 0px;
    margin: 0 0 30px 0;
}

.app-logo, .user-logo{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
}
.app-name, .user-name{
    grid-column: 2 / 3;
    font-weight: bold;
    font-size: var(--xl);
    justify-self: start;
    align-self: center;
}
.app-header-detail, .profile-header-detail{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: flex;
}
.app-header-detail a, .app-header-detail span, .profile-header-detail p{
    padding: 0;
    margin: auto 0 auto 0;
    vertical-align: middle;
    text-align: center;
}

.header-actions, .profile-header-actions{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
    
    display: flex;
    height: 100%;
}
.header-actions a, .profile-header-actions a{
    padding: 0;
    margin: 0 10px 0 10px;
    
    height: 100%;
}
.header-actions a button, .profile-header-actions a button{
    min-width: 80px;
    border-radius: 10px;
    height: 100%;
}

