.sign-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    
    margin-top: 70px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--shadow-color);
    background-color: var(--primary-color);
}

.sign-container > label, .sign-container > div, .sign-container > button{
    margin: 10px 0 0 0;
}
.sign-container > input, .sign-container > button{
    height: 25px;   
    box-sizing: border-box;
}

.go-sign-up, .go-sign-in{
    text-align: center;
}
