h1{
    background-color: var(--black);
}

.app-container{
    position: relative;
    top: 50px;
    padding: 10px 100px 0px 100px;
    margin: 0px;
}

.message-block{
    display: block;
    opacity: 0;
    z-index: 5000;
    position: fixed;
    top: -40px;
    padding: 0 20px 0 20px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s 0s;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--shadow-color);
}
.message-block span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 13px;
    color: #FFFFFF;
}

